<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                    <div class="login-space">
                      <!--Login form-->
                        <div class="login">
                          <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                            <div class="group">
                               <label for="user" class="label">
                              Email Address</label>
                              <input
                              formControlName="email"
                              type="text"
                              [class.is-invalid]="email?.invalid && email?.touched"
                              class="form-control"
                              placeholder="Enter your email address">
                            </div>
                                  <div *ngIf="email?.errors && (email?.invalid || email?.touched)">
                                       <h3 class="text-danger" *ngIf="email?.errors?.required && email?.touched">Email is required</h3>
                                       <h3 class="text-danger" *ngIf="email?.errors?.email && email?.touched">Invalid email</h3>
                                  </div>
                            <div class="group">
                               <label for="pass" class="label">Password</label>
                              <input
                              formControlName="password"
                              type="password"
                              [class.is-invalid]="password?.invalid && password?.touched"
                              class="form-control"
                              placeholder="Enter your password">
                              <div *ngIf="password?.errors && (password?.invalid || password?.touched)">
                                  <h3 class="text-danger" *ngIf="password?.errors?.required && password?.touched">Password is required</h3>
                                  <h3 class="text-danger" *ngIf="password?.errors?.minlength && password?.touched">Password must be at least 6 characters</h3>
                              </div>
                             </div>
                            <div class="group">
                             <input type="submit" [disabled]="loginForm.invalid" class="button btn btn-primary" value="Sign In">
                            </div>
                        </form>
                      </div>
                        <!--Sign up form-->
                        <div class="sign-up-form">
                          <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
                            <div class="group"> <label for="user" class="label">Username</label>
                               <input
                               formControlName="username"
                               [class.is-invalid]="username?.invalid && username?.touched"
                               type="text"
                               class="form-control"
                               placeholder="Create your Username"
                                  >
                                  <div *ngIf="username?.errors && (username?.invalid || username?.touched)">
                                       <h3 class="text-danger" *ngIf="username?.errors?.required && username?.touched">Username is required</h3>
                                  </div>
                             </div>
                            <div class="group"> <label for="pass" class="label">Password</label>
                               <input
                                  formControlName="passOne"
                                  type="password"
                                  class="form-control"
                                  placeholder="Create your password">
                              <div *ngIf="passOne?.errors && (passOne?.invalid || passOne?.touched)">
                                  <h3 class="text-danger" *ngIf="passOne?.errors?.required && passOne?.touched">Password is required</h3>
                                  <h3 class="text-danger" *ngIf="passOne?.errors?.minlength && passOne?.touched">Password must be at least 6 characters</h3>
                              </div>
                               </div>
                            <div class="group">
                               <label for="pass" class="label">Repeat Password</label>
                               <input
                                  formControlName="passTwo"
                                  type="password"
                                  class="form-control"
                                  placeholder="Repeat your password"
                                 >
                              <div *ngIf="passTwo?.invalid || passTwo?.touched">
                                  <h3 class="text-danger" *ngIf="passTwo?.value.length===0 && passTwo?.touched">Password is required</h3>
                                  <h3 class="text-danger" *ngIf="passTwo?.value>0 && passTwo?.value.length<6 && passTwo?.touched">Password must be at least 6 characters</h3>
                              </div>
                              <div  *ngIf="passOne?.touched && passTwo?.touched">
                                <h3 class="text-danger"
                                *ngIf="passTwo?.errors?.misMatch
                               ">Passwords does not match</h3>
                               <h3 class="text-success" *ngIf="!passTwo?.errors?.misMatch
                               && passOne?.valid
                               ">Passwords match</h3>
                              </div>
                              </div>
                            <div class="group">
                               <label for="pass" class="label">Email Address</label>
                              <input
                              formControlName="email"
                                 type="text"
                                 class="form-control"
                                 placeholder="Enter your email address">
                                 <div *ngIf="registerEmail?.errors && (registerEmail?.invalid || registerEmail?.touched)">
                                       <h3 class="text-danger" *ngIf="registerEmail?.errors?.required && registerEmail?.touched">Email is required</h3>
                                       <h3 class="text-danger" *ngIf="registerEmail?.errors?.email && registerEmail?.touched">Invalid email</h3>
                                  </div>
                               </div>
                            <div class="group"> <input type="submit" [disabled]="registerForm.invalid" class="button btn btn-primary" value="Sign Up"> </div>
                            </form>
                            <div class="hr"></div>
                            <div class="foot"> <label for="tab-1">Already Member?</label> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
