<div class="wrapper">
  <div class="profile-card js-profile-card">
    <div class="profile-card__img">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIhCBq-WV5kdxy5e-8fgzaYKejJFYOUnTt1Q&usqp=CAU" alt="profile card">
    </div>

    <div class="profile-card__cnt js-profile-cnt">
      <div *ngIf="edit">
        <input type="text" [value]="user?.username" class="form-control" #username>
      </div>
      <div class="profile-card__name" *ngIf="!edit">{{user?.username}}</div>
      <div class="profile-card__txt"><strong>{{user?.email}}</strong></div>
      <div class="profile-card-loc">
        <span class="profile-card-loc__icon">
          <svg class="icon"><use xlink:href="#icon-location"></use></svg>
        </span>
      </div>

      <div class="profile-card-inf">
        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{articles?.length}}</div>
          <div class="profile-card-inf__txt">Articles</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{myArticles?.length}}</div>
          <div class="profile-card-inf__txt">My Articles</div>
        </div>

      </div>
      <div class="profile-card-ctr">
        <button class="profile-card__button button--orange" *ngIf="!edit"  (click)="showTemp()">Edit Profile</button>
        <button class="profile-card__button button--orange" *ngIf="edit"   (click)="editUser(user!.id)">Save</button>
        <button class="profile-card__button button--orange"  (click)="logOut()">Log Out</button>
      </div>
    </div>

    <div class="profile-card-message js-message">
      <form class="profile-card-form">
        <div class="profile-card-form__container">
          <textarea placeholder="Say something..."></textarea>
        </div>

        <div class="profile-card-form__bottom">
          <button class="profile-card__button button--blue js-message-close">
            Send
          </button>

          <button class="profile-card__button button--gray js-message-close">
            Cancel
          </button>
        </div>
      </form>

      <div class="profile-card__overlay js-message-close"></div>
    </div>

  </div>

</div>
